{% extends 'store/sidebar.html' %}

{% block content %}
<button type="button"><a href="/?={{book}}">Thêm sách</a></button>
<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>


<table>
  <thead>
    <th>STT</th>
    <th>Tên sách</th>
    <th>Tác giả</th>
    <th>Nhà xuất bản</th>
    <th>Category</th>

  </thead>
  
  {% for book in books %}
  <tbody>
      <th>{{forloop.counter}}</th>
      <td>{{book.name}}</td>
      <td>{{book.author.name}}</td>
      <td>{{book.supplier.name}}</td>      
      <td>{{book.category.name}}</td>
  </tbody>
  {% endfor %}
</table>
 {% endblock %}
